/*div	{*/
	/*background: teal;*/
	
/*}*/

#first {
	background: yellow;
}

#second	{
	background: crimson;
}

p	{
	color: linen;
}

#hello	{
	color: #000000;
}

#No {
	color: orange;
}